<html>


<head>
    
<title>   Browse Parts  </title>    

<link rel="stylesheet" type="text/css" href="style.css">
    
</head>


<body>
    
<h1 id="header">   <br> PC Helper  </h1>    
    

<ul id="sideMenu">
    <li> <a href="home.html">Home</a></li>
    <li> <a href="browseBuilds.html"> My Builds  </a> </li>
    <li> <a href="browseparts.html"> Browse Parts </a> </li>
    <li> Submit Benchmarks</li>
</ul>
    
    
<form id="partType">
    Computer Part Type <br>
<input  type="text">    
</form>
    
<p id="description">
    GPU-accelerated computing is the use of a graphics processing unit (GPU) together with a CPU to accelerate scientific, analytics, engineering, consumer, and enterprise applications.
    
</p>
    
<form id="build">
      Current Build Working On <br> 
    <input type="text">
    </form>
    
    
<p id="heading">
    Part Name  &emsp; &emsp; Price  &emsp;  &emsp; Add To Current Build
</p>
    
<ul id="browseParts"> 
    <li>  Part  &emsp; &emsp; &emsp;  Price   &emsp; &emsp; &emsp; <input type="checkbox">  </li>
    <li> Part  &emsp; &emsp; &emsp;         Price  &emsp; &emsp; &emsp; <input type="checkbox">  </li>
    <li>  Part  &emsp; &emsp; &emsp;  Price   &emsp; &emsp; &emsp; <input type="checkbox">  </li>
    <li> Part  &emsp; &emsp; &emsp;         Price  &emsp; &emsp; &emsp; <input type="checkbox">  </li>
    <li>  Part  &emsp; &emsp; &emsp;  Price   &emsp; &emsp; &emsp; <input type="checkbox">  </li>
    <li> Part  &emsp; &emsp; &emsp;         Price  &emsp; &emsp; &emsp; <input type="checkbox">  </li>
     <li>  Part  &emsp; &emsp; &emsp;  Price   &emsp; &emsp; &emsp; <input type="checkbox">  </li>
    <li> Part  &emsp; &emsp; &emsp;         Price  &emsp; &emsp; &emsp; <input type="checkbox">  </li>
    <li>  Part  &emsp; &emsp; &emsp;  Price   &emsp; &emsp; &emsp; <input type="checkbox">  </li>
    <li> Part  &emsp; &emsp; &emsp;         Price  &emsp; &emsp; &emsp; <input type="checkbox">  </li>
    <li>  Part  &emsp; &emsp; &emsp;  Price   &emsp; &emsp; &emsp; <input type="checkbox">  </li>
    <li> Part  &emsp; &emsp; &emsp;         Price  &emsp; &emsp; &emsp; <input type="checkbox">  </li>

</ul>  
    
    <p id="userInfo">      
    
Welcome XXX, <a href="logon.html"> Log Out</a>    
</p>
    
    

   
    

    
    
</body>    
    
    
    
    

</html>
