
<h1>Test our software</h1>
<p>We need your help testing our website which is similar to pcpartpicker.
   Please go to <a href="http://ec2-52-36-182-247.us-west-2.compute.amazonaws.com/Bens-Dumb-Idea/">our website</a> 
   and complete the following tasks:</p>

   <h2>Instructions</h2>

   <ol>
<li> Create a new user account with fake data take note of this data</li>
<li> You will be directed to creating your first build </li>
<li> Create a Pc with the given parts(doesn't have to be complete)</li>
<li> Navigate to the browse users page</li>
<li> Locate user dude man and click his profile </li>
<li> Click the follow button for dude man's profile</li>
<li> look at dude man's activities and take note of his last activities</li>
<li> Look at dude mans's 1st build and take note of what the parts are</li>
<li> Navigate back to home to view the other users on the left hand side</li>
<li> In the review section of the turk state the fake username you have create.</li>
<li> Also state what dude man's last activity was</li>
<li> Finally state what his 1st build is </li>
<li> </li> 

</ol>

<p>What worked well on our site, and or what did you like?</p>
<textarea name="goodstuff"></textarea>
<p>What didn't work well on our site, and or what could we improve on?</p>
<textarea name="badstuff"></textarea>