body
{
    background-color: gainsboro;
}

#header
{
    position: fixed;
    width: 100%;
    height: 15%;
    top:-3.5%;
    left: 0px;
    padding: 0px;
    
    
    color: orange;
    background-color: black;
    text-align: center;
    z-index: 10;
    
}

ul#sideMenu
{
    
    width: 15%;
    height: 100%;
    position: fixed;
    overflow: auto;
    top: 13%;
    left: 0px;
    
    margin: 0;
    padding: 0;
    border-right-style: solid;
    background-color:orange;
    
}

ul#sideMenu li {
    
    text-align: center;
    list-style-type:none;
    display: block;
    padding-top:15%;
    padding-bottom: 10%;
    font-size: 18px; 
}

#welcome
{
    position:fixed;
    top: 10%;   
    left: 35%;
    font-size: 50;
}

#news
{
    position:fixed;
    top: 35%;
    left: 65%;
    font-size: 15;
    width: 25%;
}

#homePic
{
    position:fixed;
    top: 35%;
    left: 35%;
}

#buildPC
{
    position:fixed;
    top: 55%;
    left: 25%;
    width: 15%;
    height: 10%;
    
}

#resumeBuild
{
    position:fixed;
    top: 55%;
    left: 45%;
    width: 15%;
    height: 10%;
}



ul#browseParts
{
    position: fixed;
    top: 38%;
    left: 20%;
    width: 50%;
    height: 55%;
    overflow: auto;
    
}

ul#browseParts li
{
    padding: 10px;
    border-style: solid;
    list-style-type: none;
}

#checklist
{
    position: fixed;
    top: 30%;
    left:60%;    
}


#partType
{
    position: fixed;
    top: 25%;
    left: 25%;
    
}

#description
{
    position: fixed;
    top: 18%;
    left: 45%;
    width: 45%;
}

#build
{
    position:fixed;
    top: 16%;
    left: 25%;
    
}

#heading
{
    position: fixed;
    top: 35%;
    left: 23%;
}

#whoWeAre
{
    position: fixed;
    top: 28%;
    left: 25%;
    width: 40%;
}

#newUser
{
    position: fixed;
    top: 28%;
    left: 5%;
    padding: 10px;
    background-color:lightsalmon;
    border-radius: 25px;
}

#retUser
{
    position:fixed;
    top: 28%;
    left: 70%;
    padding: 10px;
    background-color:lightsalmon;
    border-radius: 25px;
}

#headingBuilds
{
    position: fixed;
    top: 30%;
    left: 23%;
}

ul#browseBuilds
{
    position: fixed;
    top: 34%;
    left: 19%;
    width: 50%;
    height: 55%;
    overflow: auto;
    
}

ul#browseBuilds li
{
    padding: 10px;
    border-style: solid;
    list-style-type: none;
}

