Options -Indexes

RewriteEngine on

# ErrorDocument 404 /app/controller/error.php

# Site
RewriteRule ^$ app/controller/siteController.php?action=home [QSA,L]
RewriteRule ^user/?$ app/controller/siteController.php?action=user [QSA,L]
RewriteRule ^about/?$ app/controller/siteController.php?action=about [QSA,L]
RewriteRule ^login/?$ app/controller/siteController.php?action=login [QSA,L]
RewriteRule ^contact/?$ app/controller/siteController.php?action=contact [QSA,L]
RewriteRule ^forum/?$ app/controller/siteController.php?action=forum [QSA,L]
RewriteRule ^logout/?$ app/controller/siteController.php?action=logout [QSA,L]
RewriteRule ^create/?$ app/controller/siteController.php?action=create [QSA,L]
RewriteRule ^delete/?$ app/controller/siteController.php?action=delete [QSA,L]
RewriteRule ^deleteUser/?$ app/controller/siteController.php?action=deleteUser [QSA,L]
RewriteRule ^list/?$ app/controller/siteController.php?action=list [QSA,L]
RewriteRule ^edit/(\w+)/?$ app/controller/siteController.php?action=edit&editID=$1 [QSA,L]