Options -Indexes

RewriteEngine on

# ErrorDocument 404 /app/controller/error.php

# Site
RewriteRule ^$ app/controller/siteController.php?action=home [QSA,L]
RewriteRule ^user/?$ app/controller/siteController.php?action=user [QSA,L]
RewriteRule ^login/?$ app/controller/siteController.php?action=login [QSA,L]
RewriteRule ^logout/?$ app/controller/siteController.php?action=logout [QSA,L]
RewriteRule ^create/?$ app/controller/siteController.php?action=create [QSA,L]


RewriteRule ^BrowseBuilds/?$ app/controller/siteController.php?action=browseBuild [QSA,L]
RewriteRule ^changeBuilds/?$ app/controller/siteController.php?action=browseBuild [QSA,L]

RewriteRule ^BrowseParts/? app/controller/siteController.php?action=browseParts [QSA,L]
