body
{
    background-color: gainsboro;
    margin: 0;
    padding: 0;
    height: 100%;
}

#div_header
{
    width: 100%;
    height: 80px;
    background-color: black;
    text-align: center;
}

#div_sideMenu
{
    padding: 0;
    margin: 0;
    float:left;
    width:120px;
    height: calc(100% - 80px);
    background-color: orange;
}

#div_middle
{
    padding: 0;
    margin: 0;
    top:80px;
    left: 120px;
    width:calc(100% - 130px);
    height: calc(100% - 100px);
    float: left;
    margin: 0;
}

div#userlist
{
    width: 25%;
    height: 80%;
    float:left;
    text-align: left;
    
}
div#activityFeed
{
    top:65px;
    width: 100%;
    height: calc(100% - 65px);
    text-align: left;
    float: left;
    padding-left: 2%;
}

div#welcomeAndButtons
{
    padding-top: 15px;
    width: 35%;
    height: 100%;
    margin: 0;
    display: inline-block;
    text-align: center;
}

#userInfo
{
    position: relative;
    width: 27%;
    height: 65px;
    text-align: right;
    padding-right: 8px;
    padding-top: 8px;
    float: right;
}

#header
{
    height: 100%;
    color: orange;
}


#div_welcome
{
    top:20%;
    width: 33%;
    float:left;
}

#welcome
{
    font-size: 50;
    margin: 0;
}


#whoWeAre
{
    top:10%;
}

#div_newUser
{
    float:left;
    top:20%;
    width:33%;
    padding-top: 25px;
    
}

#newUser
{
    line-height: 1.9;
    top:10%;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right:auto;
    width:50%;
    text-align: center;
    background-color:lightsalmon;
    border-radius: 10px;
}

#div_retUser
{
    float:left;
    top:25%;
    width: 33%; 
    padding-top: 50px;
}

#retUser
{
    line-height: 1.7;
    top:10%;
    margin-left: auto;
    margin-right:auto;
    padding-bottom: 10px;
    width:50%;
    text-align: center;
    background-color:lightsalmon;
    border-radius: 10px;
}




ul#sideMenu
{
    width: 100%;
    height: 100%;
    overflow: auto;
    left: 0px;
    padding: 0;
    margin: 0;
    border-right-style: solid;
    background-color:orange;
}

ul#sideMenu li {
    text-align: center;
    list-style-type:none;
    display: block;
    padding-top:15%;
    padding-bottom: 10%;
    font-size: 18px; 
}

#buildPC
{
    width: 50%;
    height: 10%;
}

#resumeBuild
{
    width: 50%;
    height: 10%;
}



#browseParts
{
    top: 36%;
    left: 20%;
    width: 90%;
    height: 55%;
    overflow: auto;
    
}

ul#browseParts li
{
    padding: 10px;
    border-style: solid;
    list-style-type: none;
}

#checklist
{
    position: fixed;
    top: 30%;
    left:60%;    
}


#partType
{
    position: fixed;
    top: 25%;
    left: 25%;
    
}

#description
{
    position: fixed;
    top: 18%;
    left: 45%;
    width: 45%;
}

#build
{
    
    top: 16%;
    left: 25%;
    
}

#heading
{
    position: fixed;
    top: 35%;
    left: 23%;
}

#headingBuilds
{
    top: 30%;
    left: 23%;
   
}

ul#browseBuilds
{
    position: fixed;
    top: 34%;
    left: 19%;
    width: 50%;
    height: 55%;
    overflow: auto;
    
}

ul#browseBuilds li
{
    padding: 10px;
    border-style: solid;
    list-style-type: none;
}



#buildDropDown
{
    
    top: 20%;
    left: 20%;

}

#newBuild
{
    
    top: 20%;
    left: 40%;

}

#partDropDown
{
    top:27%;
    left: 20%;
}

#like
{
    position: fixed;
    top: 55%;
    left: 23%;
}

#comment
{
    position: fixed;
    top: 63%;
    left: 23%;
}

div#profile{
    width:97%;
    padding-left: 7%;
    padding-top: 7%;
    margin: 0;
    float: left;
}

div#removeuser{
    width:97%;
    padding-left: 3%;
    margin: 0;
    float: left;
}

div#userActivities{
    display: inline-block;
    width: 30%;
    float: left;
    padding-top: 3%;
}

div#unfollowUser{
    width:97%;
    padding-left: 10%;
    padding-top: 10%;
    margin: 0;
    float: left;
}

div#followUser{
    width:97%;
    padding-left: 10%;
    padding-top: 10%;
    margin: 0;
    float: left;
}

div#buildInfo{
    width:66%;
    padding-left: 25px;
    padding-top: 25px;
}

#publishButton
{
    position:relative;
    left: 25px;
}


